<div class="adminWrapper">
  <div class="adminWrapper-left">
    <div class="adminWrapper-left-item" (click)="selectItem('test')">Изменение теста</div>
    <div class="adminWrapper-left-item" (click)="selectItem('result')">Просмотр результатов</div>
    <div class="adminWrapper-left-item" (click)="backTest()">Назад к тестам</div>
  </div>
  <div class="adminWrapper-right">
    <div class="TestChanges" *ngIf="isTestChanges">
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="description">Введите вопрос</div>
        <input type="text" class="input" formControlName="Question">

        <div class="description">Введите правильный ответ</div>
        <input type="text" class="input" formControlName="TrueAnswer">

        <div class="description">Введите варианты ответов через пробел</div>
        <input type="text" class="input" formControlName="AnswerOpt">

        <button type="submit" class="input btn" matRipple>
          <span>Создать</span>
        </button>
      </form>
      <!-- <div class="inputQuestion">
        <div class="text">Введите вопрос</div>
        <input type="text" class="input">
      </div>
      <div class="inputTrueAnswer"></div>
      <div class="inputAnswerOptions"></div> -->
    </div>

    <div class="ViewResult" *ngIf="!isTestChanges">
      <div class="users" *ngFor="let item of resultList">
        <div class="userName">Пользователь: {{item.userName}}</div>
        <div class="results" *ngFor="let res of item.result">
          <div class="question">Вопрос: {{res.question}}</div>
          <div class="answer">Ответ пользователя: <span [ngClass]="{'text_line-through': !res.isCorrect}">{{res.answer}}</span></div>
          <div class="answer">Правильный ответ: <span style="color: greenyellow;">{{res.trueAnswer}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>